nav {
  width: 100%;
  padding: 0;
  margin: 0;
  
  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 50%;
    
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      color: #000;
      background: #efefef;
      padding: 20px 5px;
      text-transform: uppercase;
      border-bottom: 1px solid #03316f;

      &.active {
        background: #fff;
        color: #03316f;
        border: 1px solid #03316f;
        border-bottom: 1px solid #fff;

        &:hover{
          cursor: default;
        }
      }

    }

  }
}

