.login .row input,
.signup .row input {
  margin-bottom: 0;
}

@each $category, $color in $categories {
  .#{$category} {
    .button {
      background-color: $color;
      border-radius: 6px;
      border-bottom: 3px solid darken($color, 15%);
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      padding: 20px 0;
      display: block;
      margin: 0;
      text-align: center;
      transition: all 200ms;
      &:hover {
        background-color: darken($color, 15%);
        text-decoration: none;
      }
    }
    input.button {
      @extend .button;
      margin: 0 !important;
      padding: 20px 0 !important;
      width: 100% !important;
    }
  }
}
.box-subtitle {
  color: #18376c;
  font-size: 24px;
  font-weight: bold;
}

.proposal-detail {
  .login-container {
    margin: 0 20px;
    text-align: left;
    .loading {
      text-align: center;
    }
  }
  li {
    a {
      text-decoration: none;
      // text-transform: uppercase;
      padding: 0 0 0 45px;
      margin: 0;
      width: 30%;
      min-width: 210px;
      display: inline-block;
      vertical-align: middle;
      span {
        padding-left: 40px;
      }
      font: {
        size: 24px;
        weight: bold;
      }
      background-size: 32px;
      color: white;
    }
  }

  .categories {
    select {
      // height: 57px;
      width: 60%;
      margin: 0;
      text-transform: uppercase;
      border: 0;
      background: #fff;
      float: right;
      vertical-align: middle;
      margin: 4px;
      border-radius: 3px;
    }

    .proposal-header {
      position: relative;

      .title, .abstract p {
        position: absolute;
        right: 0;
        color: #fff;
        width: 50%;
        vertical-align: middle;
      }

      .title {
        padding: 20px;
        text-transform: uppercase;
        bottom: 170px;
        font-size: 32px;
        text-align: center;
      }

      .abstract p {
        padding: 5px 20px 20px 20px;
        bottom: 140px;
        font-size: 14px;
        text-align: center;
        word-break: break-word;
        word-wrap: break-word;
      }

      .show_body {
        // width: 100%;
        // padding: 30px 0;
        margin: 10px auto;
        text-align: center;
        cursor: pointer;


        a {
          // display: inline-block;
          // width: 70%;
          text-decoration: none;
          color: #fff;
          font-size: 38px;
          font-weight: 500;
          // text-transform: uppercase;
          // margin: 0 auto;
          text-align: center;
        }

        span {
          // padding: 5px 15px;
        }
      }
    }
  }

  @each $category, $color in $categories {
    .#{$category}{
      .slick-prev:before, .slick-next:before {
        color: $color;
      }
      .select {
        li {
          background: $color;
          list-style: none;
          padding: 5px;
          a {
            min-width: 0;
            width: auto;
          }
        }
        &:after {
          content:"";
          display:table;
          clear:both;
        }
      }
      .results-container {
        &:before {
          content:"";
          display:table;
          clear:both;
        }
        .results-content {
          border: 1px solid $color;
          margin-top: 20px;
          .vote-result {
            font-weight: bolder;
            font-size: 12px;
            text-transform: uppercase;
            color: gray;
            border: none;
            margin: 10px 0 0 10px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            text-align: center;
            text-decoration: none;
            padding: 9px;
            display: block;
            float: right;
          }
          .updated-at {
            font-size: 14px;
            color: gray;
            float: right;
            margin-right: 8px;
          }
          .total {
            padding: 10px;
            color: gray;
            font-size: 14px;
            float: left;
          }
          .simple-pagination {
            padding: 5px 5px 5px 0;
            ul {
              list-style: none;
              padding: 0;
              display: table;
              margin: 0 auto;
              li {
                list-style: none;
                padding: 0;
                margin: 0;
                float: left;
                a, span {
                  float: left;
                  color: white;
                  font-size: 14px;
                  line-height: 24px;
                  font-weight: normal;
                  text-align: center;
                  min-width: 14px;
                  padding: 0 7px;
                  background: $color;
                  width: 100%;
                  text-transform: none;
                }
                .prev {
                  border-radius: 3px 0 0 3px;
                }
                .next {
                  border-right: 1px solid #AAA;
                  border-radius: 0 3px 3px 0;
                }
                .current {
                  opacity: 0.5;
                }
              }
            }
          }
        }
        table {
          clear: both;
          margin-top: 20px;
          td {
            padding: 0 5px;
          }
          tbody tr:nth-child(odd) {
            background-color: #e5e5e5;
          }

          .abstract-text {
            width: 80%;
          }
          .value {
            width: 10%;
            text-align: center;
          }
          .header {
            line-height: 22px;
            font-weight: bold;
            text-align: center;
            color: rgb(68, 68, 68);
            .votes-for {
              background-image: url(./images/result-like.png);
              background-repeat: no-repeat;
              display: inline-block;
              background-position: center;
            }
            .votes-against {
              @extend .votes-for;
              background-image: url(./images/result-dislike.png);
            }
          }

          .truncate {
            display: table;
            table-layout: fixed;
            width: 100%;
          }
          .truncated {
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          tr {
            color: rgb(77, 77, 77);
          }
        }
      }

      .proposal-header {
        .title {
          background: darken($color, 15%);
        }
        .abstract p {
          background: darken($color, 15%);
        }
        .show_body {
          a {
            background: $color;
            transition: background-color .2s;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            border-bottom: 5px solid darken($color, 15%);
            padding: 15px 0;
            &:hover,&:focus {
              background-color: darken($color, 15%);
            }
          }
        }
      }
      ul{
        padding: 0px;
      }
      .abstract{
        color: #083e87;
        width: 100%;
        margin: 0;
        font-size: 24px;
        font-weight: bold;

        img {
          width: 100%;
        }
      }
      .body{
        margin-bottom: 20px;
      }
      .title{
        margin: 25px 0px;
        font: {
          size: larger;
          weight: bold;
        }
      }
      .conclear{
        clear: both;
      }
      .container-title{
          color: $color;
          font-weight: bolder;
          font-size: 38px;
          margin: 20px;
          text-align: left;
      }
      .message {
        margin: 10px 0;
        padding: 10px 20px;
        font-size: 12px;
        background-color: #f2dede;
        border-color: #ebccd1;
        font-weight:bold;
        color: #a94442;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      input, textarea {
        border-color: $color;
      }
      textarea#article_abstract {
        height: 15%;
      }
      .container-button a,
      input[type=submit],
      .success-proposal-sent a {
        font-weight: 500;
        font-size: 16px;
        // text-transform: uppercase;
        background-color: $color;
        border-bottom: 3px solid darken($color, 15%);
        color: white;
        width: 50%;
        margin: 10px auto;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        text-align: center;
        text-decoration: none;
        padding: 20px;
        display: block;

        transition: background-color .2s;

        &:hover,
        &:focus {
          background-color: darken($color, 15%);
        }
        span {
          padding-left: 20px;
          background: transparent url(images/airplane.png) left center no-repeat;
        }
      }
      .make-proposal-container{

        .subtitle,
        .info,
        .success-proposal-sent {
          margin: 20px;
          color: #18376C;
        }

        .subtitle,
        .success-proposal-sent {
          font-size: 24px;
          font-weight: bold;
        }
        .info {
          font-size: 14px;
          overflow-y: auto;
        }
        .name {
          margin-bottom: 15px;
        }
        width: 50%;
        height: $container-height;
        min-height: $container-height;
        position: relative;
        float: left;
        text-align: left;
        .make-proposal{
          border: 1px solid $color;
          height: $container-height;
          min-height: $container-height;
          overflow: auto;
          margin: 0 10px 20px 0;
        }
        .make-proposal-button{
          @extend .container-button;
        }
        .send-proposal-button,
        .success-proposal-sent {
          @extend .container-button;
          a {
            position: absolute;
            left: 40%;
            margin: 0;
            margin-left: -20%;
            bottom: 40px;
            padding: 20px 0;
          }
        }
        #article_abstract {
          height: 15%;
        }
        label {
          color: #333;
        }
      }
      .support-proposal-container{
        width: 50%;
        float: left;
        height: $container-height;
        min-height: $container-height;
        position: relative;
        text-align: center;
        .container-title {
          text-align: center;
          width: 100%;
          margin: 20px auto;
        }
        .support-proposal{
          border: 1px solid $color;
          height: $container-height;
          min-height: $container-height;
          position: relative;
          margin: 0 0 20px 10px;
          overflow: auto;
          .alert{
            width: 95%;
            margin: 0 auto;
            strong{
              margin-left: 5px;
            }
          }
        }
        .subtitle {
          color: #000;
        }
        .vote-actions {
          .like {
            background-image: url(./images/like.png);
            background-repeat: no-repeat;
            display: inline-block;
            height: 72px;
            width: 76px;
            margin: 0 6%;
          }
          .dislike {
            background-image: url(./images/dislike.png);
          }
          .skip {
            font-weight: 500;
            font-size: 16px;
            // text-transform: uppercase;
            background-color: $color;
            color: white;
            width: 40%;
            border-bottom: 3px solid darken($color, 15%);
            margin: 20px auto 0;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            text-align: center;
            text-decoration: none;
            padding: 20px 0;
            display: block;
            // position: absolute;
            // bottom: 40px;
            // left: 50%;
            // margin-left: -30%;

            transition: background-color .2s;

            &:hover,
            &:focus {
              background-color: darken($color, 15%);
            }
          }
          .vote-result {
            font-size: 14px;
            font-weight: bold;
            color: #000;
            font-weight: bold;
            text-decoration: none;
            margin: 15px 0;
            display: block;
            width: 100%;
            text-align: center;
            // position: absolute;
            // bottom: 10px;
            left: 0;
            text-decoration: underline;
            color: $color;

            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }
        .social {
          span {
            color: $color;
            font-weight: 700;
          }
        }
      }
      .experience-proposal-container{
        float: left;
        width: 50%;
        height: $container-height;
        min-height: $container-height;
        position: relative;
        text-align: center;
        .experience-proposal{
          border: 1px solid $color;
          height: $container-height;
          min-height: $container-height;
          margin: 20px 10px 0 0;

          p {
            margin: 10px 20px;
            text-align: left;
          }
        }
        .send-experience-button {
          @extend .container-button;
        }
        .send-experience-button,
        .success-experience-sent {
          @extend .container-button;
          a {
            position: absolute;
            left: 50%;
            margin: 0;
            margin-left: -30%;
            bottom: 20px;
            padding: 20px 0;
          }
        }
      }
      .talk-proposal-container{
        width: 100%;
        float: left;
        height: $container-height;
        min-height: $container-height;
        position: relative;
        text-align: center;
        .talk-proposal {
          border: 1px solid $color;
          height: $container-height;
          min-height: $container-height;
          margin: 20px 0 0 0;
          text-align: left;

          span {
            font-weight: 14px;
            color: #000;
            display: block;
          }

          div.date, div.time {
            width: 45%;
            text-align: left;
            color: $color;
            display: inline-block;
            margin-top: 20px;
          }

          p {
            margin: 20px;
            text-align: left;
          }

          ul {
            width: 80%;
            display: block;
            margin: 0 auto;
            list-style: none;
            li {
              width: 100%;
              margin: 0;
              padding: 10px;
              height: auto;
              overflow: visible;
              margin-bottom: 5px;
              background: #EEEFF1;
            }
          }
        }
      }
      li{
        // background-color: $color;
        a {
          background-image: url(./images/icons/#{$category}.png);
          background: {
            color: $color;
            position: 5px 50%;
            repeat: no-repeat;
          }
          border-left: 1px solid lighten($color, 10%)
        }
      }
    /*------------------ formulario ---------------- */
    form .oauth {
        margin-top: 15px;
        // float: left;
        // width: 50%;
    }

    form .actions {
        // float: right;
        // width: 50%;
    }

    form.signup {
      text-align: left;
      .password, .password-confirmation {
        // width: 47%;
        display: inline-block;
      }
      .password {
        // margin-left: 15px;
      }
      .actions {
        margin: 20px 0 0 0;
        float: none;
        width: 100%;
        .confirm-signup {
          background: #00a9bd;
          border-radius: 7px;
          color: #fff;
          padding: 10px 15px;
          // margin: 0 0 0 8px;
        }
        .cancel-signup {
          @extend .confirm-signup;
        }
        .message {
          float: left;
          margin-top: -8px;
        }
      }
    }

    .actions > a.login-action{
        background: $color;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        color: #fff;
        display: block;
        margin-right: 37px;
        margin-top: 40px;
        padding: 10px 35px;
    }

    form .oauth .new-user{
        background: $color;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        color: #fff;
        padding: 10px 15px;
    }

    form .oauth .label{
      margin: 0 0 10px;
    }

    .actions > a.forgot-password{
        color: $color;
        display: block;
        font-weight: normal;
        font-size: 14px;
    }

    .oauth > .facebook,
    .oauth > .google{
      width: 39px;
      height: 39px;
      overflow: hidden;
      text-indent: -150px;
      vertical-align: middle;
      display: inline-block;
      margin: 0 10px;
    }

    .oauth > .facebook{
      background: transparent url(./images/icon-facebook.png) top left no-repeat;
    }
    .oauth > .google{
      background: transparent url(./images/icon-google-plus.png) top left no-repeat;
    }
    /*-----------------------------------------------*/


    }
  }
  .save-article-form {
    .maxlength {
      text-align: right;
      margin-right: 36px;
      font-size: 12px;
    }
  }

  .support-proposal .abstract{
    overflow-y: auto;
    // max-height: 190px;
    margin-bottom: 10px;
    word-break: break-word;
    word-wrap: break-word;

    @media only screen and (max-width: 1048px) {
      // max-height: 140px;
      font-size: 20px;
    }
  }
  .support-proposal .send-button {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {

  .proposal-detail {

    .container-title {
      font-size: 30px !important;
      margin-bottom: 15px !important;
    }

    .make-proposal-container {

      .subtitle {
        margin: 5px 20px !important;
        font-size: 20px !important;
      }

      .info {
        margin: 0 20px !important;
        // max-height: 40px !important;
      }
    }

  }

}

@media only screen and (max-width: 768px) {
  .proposal-header {
    .title {
      line-height: 1.2 !important;
      padding: 15px 20px 10px !important;
      position: relative !important;
      width: auto !important;
      bottom: inherit !important;
      margin: 0 !important;
    }
    .abstract {
      width: 100% !important;
      margin: 0 !important;
      p {
        padding: 0 20px !important;
        position: relative !important;
        width: 100% !important;
        bottom: inherit !important;
      }
    }
    .show_body {
      span {
        text-align: center !important;
        margin: 0 10px !important;
        display: block !important;
        padding: 0 !important;
        line-height: 1.2 !important;
      }
    }
  }
  form {
    .actions {
      float: none !important;
      width: 100% !important;
      text-align: center !important;
      a.login-action {
        font-weight: bolder !important;
        margin: 40px auto 0 !important;
        padding: 20px 0 !important;
        width: 60% !important;
      }
    }
    .oauth {
      float: none !important;
      width: 100% !important;
      .label {
        margin: 0 auto 10px !important;
      }
      a {
        vertical-align: middle !important;
      }
      .new-user {
        font-weight: bolder !important;
        margin: 0 10px !important;
      }
    }
  }
  .make-proposal-container {
    height: auto !important;
    margin-bottom: 10px !important;
    min-height: 0 !important;
    width: 100% !important;
    .make-proposal {
      height: auto !important;
      margin: 0 !important;
      min-height: 0 !important;

      .info {
        max-height: none !important;
      }
    }
    .send-proposal-button,
    .success-proposal-sent {
      text-align: center !important;
      a {
        position: relative !important;
        left: inherit !important;
        margin: 20px auto !important;
        bottom: inherit !important;
      }
    }
  }
  .support-proposal-container {
    height: auto !important;
    margin-bottom: 10px !important;
    min-height: 0 !important;
    width: 100% !important;
    .support-proposal {
      height: auto !important;
      margin: 0 !important;
      min-height: 0 !important;
    }
    .vote-actions {
      .skip {
        position: relative !important;
        bottom: inherit !important;
        left: inherit !important;
        margin: 20px auto 0 !important;
      }
      .vote-result {
        position: relative !important;
        bottom: inherit !important;
        margin: 10px auto 10px !important;
      }
    }
  }
  .results-container {
    margin-bottom: 10px !important;
    .results-content {
      margin-top: 0 !important;
    }
    .truncated {
      padding: 0 10px !important;
    }
  }
  .experience-proposal-container {
    height: auto !important;
    margin-bottom: 10px !important;
    min-height: 0 !important;
    width: 100% !important;
    .experience-proposal {
      height: auto !important;
      margin: 0 !important;
      min-height: 0 !important;
    }
    .send-experience-button {
      text-align: center !important;
      a {
        position: relative !important;
        left: inherit !important;
        margin: 20px auto !important;
        bottom: inherit !important;
      }
    }

    .success-experience-sent a {
      position: relative !important;
      left: inherit !important;
      margin: 20px auto !important;
      bottom: inherit !important;
    }
  }
  .talk-proposal-container {
    height: auto !important;
    margin-bottom: 10px !important;
    min-height: 0 !important;
    width: 100% !important;
    .talk-proposal {
      height: auto !important;
      margin: 0 !important;
      min-height: 0 !important;
    }
  }
}
