@import "utilities/variables";

#proposal-categories {
  background: #fff;
  clear: both;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #03316f;
  border-left: 1px solid #03316f;
  border-right: 1px solid #03316f;    
  
  li {
    list-style: none;
    display: inline-block;
  }
  
  .proposal-category {
    a {
      text-decoration: none;
      color: #fff;
      margin: 10px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background-position: center 15px;
      background-repeat: no-repeat;
      width: 140px;
      display: inline-block;
      font-size: 14px;
      font-family: 'Asap', sans;
      font-weight: 700;
      text-align: center;
      padding-top: 110px;
      min-height: 140px;
      background-size: 90px;
      cursor: pointer;
      
      &:hover {
        border-color: #fff !important;
      }
    }
  }

  .category > li {
    color: #FFFFFF;
    text-align: left;
    font-family: 'Asap';
    font-weight: 700;
    font-size: 16px;
    padding: 5px 12px 5px 32px;
    margin-bottom: 10px;
  }

  ul.category {
    border-top: 1px dotted #045312;
    text-align: left;
    padding: 0;
    padding-top: 10px;
  }

  .proposal-item {

    width: 48%;
    // min-height: 200px;
    margin: 0.5%;
    background: #fff;
    border-radius: 5px;
    vertical-align: top;
    border: 1px solid #03316f;
    
    &:hover {
      background: #eeeff1;
    }

    p {
      font-size: 14px;
      color: #172938;
      margin: 0;
      padding-top: 5px;
      margin-bottom: 10px;
      text-align: left;
    }

    .item {
      padding: 15px;
    }

    .proposal-link {
      padding-top: 10px;
      display: block;
      margin: 0;
      color: #335277;
      text-align: left;
      font-family: 'Asap';
      font-weight: 700;
      font-size: 18pt;
      text-decoration: none;
      cursor: pointer;
      min-height: 200px;
      
      p {
        font-weight: 400;
      }
    }

  }

  .proposal-category-items {
    text-align: left;
    border-radius: 6px;
    
    .proposal-list {
      padding-left: 20px;
      padding-bottom: 20px;
    }
  }

  #proposal-categories-container {
    display: inline;
    width: auto;
  }

  .header {
    color: white;
    padding: 10px 30px;
    text-align: left;
    
    .name {
      font-weight: bold;
      border-bottom: 2px solid white;
      padding-bottom: 10px;
      padding-top: 20px;
      margin-bottom: 10px;
      font-size: 18pt;
    }
  }

}

@each $category, $color in $categories {
  .proposal-category-items-#{$category} {
    background-color: $color;
  }

  #proposal-category-#{$category} a {
    background-image: url(./images/icons/#{$category}.png?3);
    background-color: $color;
    border-color: $color;
  }

  #proposal-category-#{$category} .arrow-box:after {
    border-bottom-color: $color;
  }

  .category-#{$category} {
    background-color: $color;
    background-image: url(./images/icons/#{$category}.png?3);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position-y: center;
    background-position-x: 3px;
  }
}

@each $category, $description in $categories-descriptions {
  .proposal-category-items-#{$category} .header .description:before {
    content: "#{$description}";
  }
}

.arrow-box {
  position: relative;
  background: #88b7d5;
  top: 4px;
  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 8px;
    margin-left: -8px;
  }
}

#proposal-group .proposal-item {
  border: 1px solid #ccc;
}

@media only screen and (max-device-width: 480px) {
  p, .description, label, .info, h2 small{
    font-size: 18px !important;
  }
  .bloco-destaque {
    background-image: url("transparent");
  }
}
@media only screen and (max-width: 630px) {
  .proposal-detail .categories select{
    width: 100% !important;
  }

}
@media only screen and (max-width: 768px) {
  .proposal-item {
    width: 95% !important;
  }
  .bloco-destaque {
    background-image: none !important;
  }
}
