.proposal-detail-base {
	.bloco-destaque {
		background-image: url("http://www.participa.br/articles/public/0009/6039/mais-medicos-foto4.png");
		background-repeat: no-repeat;
		background-position: right bottom;
		border-radius: 10px;
		min-height: 486px;
		padding: 35px;
		h4 {
			color: #fff;
			font-size: 32px;
			margin-bottom: 60px;
		}
		p {
			color: #fff;
		}
	}
	.titulo-destaque {
		font-size: 38px;
		color: #172938;
		text-transform: none;
	}
}